<div data-ng-controller="GnAdminController" class="gn-admin">

  <!-- 3 columns -->
  <div class="col-menu">
    <ul class="clearfix">
      <li data-ng-repeat="m in getMenu()" data-ng-class="('#' + pageMenu.folder) === (m.route + '/') && 'active'">
      <a href="{{getMenuUrl(m)}}"
         class="btn {{m.classes}}"
         title="{{m.name | translate}}"
         data-toggle="tooltip"
         data-placement="right">
        <i class="fa {{m.icon}}"/>
        <span class="label" data-translate="">{{m.name}}</span>
      </a>
      </li>
    </ul>
  </div>

  <div class="col-submenu">
    <ul class="nav nav-pills nav-stacked">
      <li data-ng-repeat="t in pageMenu.tabs"
          data-ng-class="type === t.type && 'active'">
        <a href="{{t.href}}">
          <i class="fa {{t.icon || 'fa-fw'}}"/>
          <span data-translate="">{{t.label}}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-content clearfix">
    <div class="col-lg-12" data-ng-include="getTpl(pageMenu)"></div>
  </div>  

</div>
