<div data-ng-controller="GnAdminController" class="gn-admin">

  <div class="col-logo">
    <a data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
      <img class="gn-logo"
           data-ng-src="{{gnUrl}}../images/logos/{{info['system/site/siteId']}}.png?random{{info['system/site/lastUpdate']}}"/>
      <span class="hidden-sm hidden-md">{{info['system/site/name']}}</span>
    </a>
  </div>

  <!-- 3 columns -->
  <div class="col-menu">

    <ul class="clearfix col-menu-top">
      <li>
        <a data-gn-active-tb-item="admin.console"
           title="{{'adminConsole' | translate}}"
           class="btn btn-default">
          <i class="fa fa-wrench"></i>
          <span class="label" data-translate="">adminConsole</span>
        </a>
      </li>
    </ul>
    <ul>
      <li data-ng-repeat="m in getMenu()" data-ng-class="('#' + pageMenu.folder) === (m.route + '/') && 'active'">
      <a href="{{getMenuUrl(m)}}"
         class="btn {{m.classes}}"
         title="{{m.name | translate}}"
         data-toggle="tooltip"
         data-placement="right">
        <i class="fa {{m.icon}}"/>
        <span class="label" data-translate="">{{m.name}}</span>
      </a>
      </li>
    </ul>
    <ul class="clearfix col-menu-bottom">
      <li>
        <a data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}"
           class="btn btn-default">
          <i class="fa fa-home"></i>
          <span class="label">{{info['system/site/name']}}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-submenu">
      <ul class="nav nav-pills">
        <li data-ng-repeat="t in pageMenu.tabs"
            data-ng-class="href === t.href && 'active'">
          <a href="{{t.href}}">
            <i class="fa {{t.icon || 'fa-fw'}}"/>
            <span data-translate="">{{t.label}}</span>
          </a>
        </li>
      </ul>
  </div>

  <div class="col-content clearfix">
    <div class="col-lg-12" data-ng-include="getTpl(pageMenu)"></div>
  </div>  
</div>
