@import "gn_search_default.less";
@import "../../../style/gn_admin";

@import url('https://fonts.googleapis.com/css?family=Roboto');

// variables
@admin-background: #f6f6f6;
@col-menu-background: #212121;
@col-menu-hover: #000;
@col-menu-color: #fff;
@col-submenu-background: #403e3b;

body, html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul.gn-resultview li.list-group-item {
  margin-bottom: 0;
}

// admin body
[ng-app="gn_admin"] {
	body {
		background-color: @admin-background;
		padding-top: 50px;
		.navbar {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
			margin-bottom: 0;
			border-color: #ddd;
			background-color: #fff;
			height: 51px;
			ul.navbar-nav {
				display: none;
			}
			ul.navbar-right {
				display: block;
			}
			.container {
				padding-right: 0;
				width: auto;
			}
		}
	}
}

// layout
.gn-admin {
	.form-control, .btn {
		// border-radius: 0;
	}
	.col-logo {
		position: fixed;
		height: 50px;
		width: 284px;
		margin-top: -50px;
		background-color: #428bca;
		color: #fff;
		text-align: center;
		line-height: 48px;
		font-size: 16px;
		z-index: 15;
		a {
			text-decoration: none;
			color: #fff;
		}
		.gn-logo {
			max-height: 24px;
			margin-right: 5px;
		}
	}
	.col-menu {
		position: fixed;
		z-index: 20;
		width: 84px;
		background: @col-menu-background;
		height: 100%;
		padding: 10px;
		text-align: center;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				a {
					color: @col-menu-color;
					background: transparent;
					border: 0;
					margin-bottom: 5px;
					padding: 10px 18px;
					width: 64px;
					.fa {
						font-size: 26px;
					}
					.label {
						display: none;
					}
					&:hover {
						background: @col-menu-hover;
					}
				}
			}
			li.active {
				a {
					background: @col-menu-hover;
				}
			}
		}
		// no colors for the buttons in the sidebar
		.btn {
			color: @col-menu-color;
		}
	}

	.col-menu-top {
		li {
			a {
				background-color: transparent !important;
				&:hover {
					background: @col-menu-hover !important;
				}
			}
		}
	}
	.col-menu-bottom {
		position: fixed;
		bottom: 0;
	}

	.col-submenu {
		position: fixed;
		z-index: 20;
		width: 200px;
		margin-left: 84px;
		height: 100%;
		padding-top: 10px;
		background: @col-submenu-background;
		// margin-top: -50px;
		ul {
			li {
				float: none;
				margin-left: 0;
				a {
					border-radius: 0;
					color: @col-menu-color;
					&:hover {
						background: @col-menu-background;
					}
					.fa {
						display: none;
					}
				}
			}
			li.active {
				a {
					background: @col-menu-background;
				}
			}
		}
	}

	.col-content {
		margin-left: 286px;
		padding-top: 25px;
		max-width: 1250px;
		// settings page
		[data-ng-controller="GnSystemSettingsController"] {
			margin-top: 50px;
			.panel-heading {
				position: fixed;
				left: 304px;
				right: 11px;
				margin-top: -70px;
				z-index: 5;
				border: 0;
				border-bottom: 1px solid #ddd;
				background-color: transparent !important;
				[data-translate] {
					display: none;
				}
			}
		}
		// all panels
		.panel-heading {
			.clearfix();
			.btn-toolbar {
				float: right;
			}
		}
		.panel-default {
			.panel-heading {
				background-color: #e5e5e5;
			}
		}
		// checkboxes & radios
		input[type="radio"], input[type="checkbox"] {
	    margin-top: 11px;
		}
		.radio-inline {
			input[type="radio"], input[type="checkbox"] {
		    margin-top: 4px;
			}
		}
		fieldset {
			h1 {
				font-size: 30px;
			}
			legend {
				font-size: 20px;
				padding-top: 15px;
			}
		}
		.btn-toolbar {
			select {
				margin-left: 5px;
			}
		}
		.form-horizontal .control-label {
	    text-align: right;
	    margin-bottom: 0;
	    padding-top: 7px;
	    font-weight: 500;
	    padding-right: 5px;
		}
	}
}

@media screen and (min-width: 1350px) {
	.col-content {
		// settings page
		[data-ng-controller="GnSystemSettingsController"] {
			margin-right: 250px;
			div.gn-scroll-spy {
		    position: fixed;
		    bottom: 0px;
		    top: 120px;
		    right: 0px;
		    opacity: 0.8;
		    font-size: 80%;
		    width: 260px;
		    z-index: 999;
		    max-height: 99vh;
		    overflow: auto;
		    background-color: transparent;
		    border-top-left-radius: 0;
		    border-top: 0;
		    border-left: 0;
		    .nav-pills {
		    	display: block !important;
		    }
		    ul li a {
		    	color: #333;
				}
		    ul li.active > a {
			    color: #333;
				}
				ul li a:hover, ul li a:focus {
					background-color: transparent;
					color: #000;
				}
				.fa-caret-square-o-down {
					display: none;
				}
				.fa-arrow-circle-up {
					float: left !important;
					color: #333;
					margin-left: 0;
				}
			}
		}
	}
}

.gn-dashboard {
	.col-content {
		margin-left: 100px;
		.gn-btn-admin {
			width: 33% !important;
	    padding-top: 25px;
	    margin: 0 !important;
	    background: #fff;
	    border: 1px solid #ddd;
	    color: #333;
	    box-shadow: none;
	    &:hover, &:active, &:focus {
	    	background-color: #efefef;
	    	border-color: #ddd;
	    }
	    .fa {
	    	font-size: 3.5em !important;
	    }
	    p {
	    	margin-top: 5px;
	    	font-size: 16px;
	    }
		}
	}
}

// logo settings
.gn-logo-settings {
	.btn-link {
		color: #999;
		&:hover {
			color: #333;
			text-decoration: none;
		}
	}
}

// selects
// 
// multiple
select[multiple], select[size] {
  height: auto;
  padding: 0;
  option {
  	padding: 10px;
  	height: 38px;
  	line-height: 38px;
  	border-bottom: 1px solid #ddd; 
  }
  option:before {
  	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  	content: "\f096";
  	margin-right: 10px;
  }
  option:checked {
  	border-color: #bbb;
  }
  option:checked:before {
		content: "\f14a";
  }
}