@import "../../../style/gn_bootstrap.less"; // must be first
// variables for manipulating the theme
@import "gn_variables_default.less"; // must be last

.gn-bottom-bar {
  height: @gn-bottombar-height;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background: @gn-bottombar-background;
  border-top: 1px solid @gn-bottombar-border-color;
  z-index: 98;
  .gn-footer-text > span {
    color: @gn-bottombar-color !important;
  }
  a {
    color: @gn-bottombar-color !important;
    &:hover {
      color: @gn-bottombar-color-hover !important;
    }
  }
}