// list of LESS variables to be used in GeoNetwork
// 
// this file must be first on the list of @import

// bottombar
@gnBottombarBackground: #f8f8f8;
@gnBottombarBorderColor: #e7e7e7;
// footer
@gnFooterBackground: #e5e5e5;